BODY {
	COLOR: black; BACKGROUND-COLOR: white
}
H1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 1.6em; COLOR: #000080; TEXT-ALIGN: center
}
H2 {
	BORDER-RIGHT: #000080 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000080 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1.4em; PADDING-BOTTOM: 0px; BORDER-LEFT: #000080 0px solid; COLOR: #408080; MARGIN-RIGHT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000080 1px solid; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
H3 {
	BORDER-RIGHT: #009000 0em solid; PADDING-RIGHT: 0em; BORDER-TOP: #009000 1px solid; PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #009000 10px solid; COLOR: #009000; MARGIN-RIGHT: 0px; PADDING-TOP: 0.25em; BORDER-BOTTOM: #009000 0em solid; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
BLOCKQUOTE {
	BORDER-RIGHT: #008080 2px solid; PADDING-RIGHT: 0em; BORDER-TOP: #008080 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #008080 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #008080 2px solid; BACKGROUND-COLOR: #e0ffff
}
PRE {
	FONT-SIZE: 9pt
}
BLOCKQUOTE.file {
	BORDER-RIGHT: #4169e1 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #4169e1 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #4169e1 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #4169e1 2px solid; BACKGROUND-COLOR: #dcdcdc
}
LI {
	
}
TABLE {
	BORDER-RIGHT: #00bfff 1px ridge; BORDER-TOP: #00bfff 1px ridge; BORDER-LEFT: #00bfff 1px ridge; BORDER-BOTTOM: #00bfff 1px ridge
}
TH {
	BORDER-RIGHT: #32cd32 1px ridge; BORDER-TOP: #32cd32 1px ridge; PADDING-BOTTOM: 1px; BORDER-LEFT: #32cd32 1px ridge; PADDING-TOP: 2px; BORDER-BOTTOM: #32cd32 1px ridge; BACKGROUND-COLOR: #f0ffff
}
TD {
	BORDER-RIGHT: #daa520 1px ridge; PADDING-RIGHT: 0em; BORDER-TOP: #daa520 1px ridge; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #daa520 1px ridge; PADDING-TOP: 0px; BORDER-BOTTOM: #daa520 1px ridge; BACKGROUND-COLOR: #f5f5dc
}
CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000080; TEXT-ALIGN: center
}
A:link {
	COLOR: green; TEXT-DECORATION: none
}
A:visited {
	COLOR: blue; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; BACKGROUND-COLOR: #ffff77; TEXT-DECORATION: underline
}
A:active {
	COLOR: red; BACKGROUND-COLOR: #00ffff; TEXT-DECORATION: underline
}
