P {
	font-size : small;
}
a:link 
{
	color: Green;
	text-decoration:underline;
	font : bold;
} 
a:visited 
{
	color: Green;
	text-decoration:underline
} 
a:hover 
{ 
	color:#000000; 
	text-decoration:underline; 
	cursor:hand
} 
a:active 
{
	color: Green;
	text-decoration:underline
}