vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Aug 2001 16:28:35 -0000
vti_extenderversion:SR|5.0.2.2623
vti_backlinkinfo:VX|SiSTPortal/docs/funcionalidades.htm SiSTPortal/docs/instrucoes.html SiSTPortal/docs/index.html index.html
vti_author:SR|PSOBREIRO\\Administrator
vti_modifiedby:SR|PSOBREIRO\\Administrator
vti_timecreated:TR|19 Aug 2001 16:28:35 -0000
vti_lineageid:SR|{2F07E2DD-A526-4BEC-9752-4B0AE5273D80}
vti_cacheddtm:TX|19 Aug 2001 16:28:35 -0000
vti_filesize:IR|1067
